body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}
/*header*/
header{
    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.6);
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #17202a;
    color: #efefef;
    padding: 1px;
    z-index: 10;
}
nav a{
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    text-decoration: none;
    position: relative;
    top: 50%;
    right: 20px;
}
.Bagual{
    color:white;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 300;
}
.Tradicional{
    color:white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
}
p{
    font-style: italic;
}
a{
    text-decoration: none;
}
.Productos {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    gap: 20px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 580px) {
    .Productos {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-carrusel {
        width: 90vw; 
        height: auto; 
    }

    .tarjeta img {
        width: 100%; 
        height: auto;
    }
}


.precio{
    color: red;
    text-decoration: line-through;
}
p{
    color: #797d7f ;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 30px;
}
.caracteristicas{
    box-shadow: 0px 0px 4px #d0d3d4;
    width: 400px;
    height: 400px;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    background-color:#f7f9f9;
}

.WhatsApp{
    background-color: #25D366;
    border: #25D366;
    border-radius: 10px 10px;
    color: #efefef;
    margin-top: 40px;
    margin: 0 auto;
    display: block;
    padding: 10px 50px;
}
.WhatsApp:active{
    box-shadow: 0px 0px 15px 0 #25D366;
}
h2{
    text-align: center;
}
img{
    width: 100%;
    object-fit: contain;

}
#contenedor-carrusel{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.carrusel{
position: relative;
overflow-y: hidden;
}

.flecha-iz{
    position: absolute;
    top: 48%;
    padding: 10px;
    border-radius: 100%;
    background-color: transparent;
}
.flecha-iz:active{
    background-color:  #cccccd;
}
.flecha-de{
    background-color: transparent;
    position: absolute;
    top:48%;
    
    padding: 10px;
    border-radius: 100%;
    right: 5px;
}
.flecha-de:active{
    background-color: #cccccd;
}